numpy==2.0.2
pandas==2.2.3
python-dotenv==1.1.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
supabase==2.15.0
matplotlib==3.9.4
yfinance==0.2.55
beautifulsoup4==4.13.3
uvicorn==0.34.0
fastapi==0.115.12
openai==1.74.0
litellm==1.66.1